$primary-color-light: hsl(210, 17%, 98%);
$primary-color: hsl(218, 33%, 95%);
$white-color: hsl(0, 0%, 100%);
$secondary-color: hsl(225, 30%, 73%);
$accent-color: hsl(244, 81%, 67%);
$accent-color-light: hsla(244, 81%, 67%, 0.15);
$obsidian-color: hsla(0, 0%, 0%, 0.5);
$dark-color-light: hsl(210, 16%, 25%);
$dark-color: hsl(210, 16%, 29%);
$extra-dark-color: hsl(212, 15%, 22%);
$coffee-color: hsla(213, 59%, 14%, 0.12);
$green-color-light: hsl(164, 90%, 44%);
$green-color: hsl(164, 95%, 43%);
$dark-grey-color: hsl(208, 16%, 18%);
$red-color: hsl(0, 100%, 50%);
$accent-red-color: hsl(346, 84%, 61%);
$blue-color: hsl(226, 30%, 75%);

$full-dimension: 100%;
$tiny-dimension: 0.625rem;
$extra-tiny-dimension: 1.5625rem;
$small-dimension: 1.875rem;
$extra-small-dimension: 2rem;
$medium-dimension: 2.25rem;
$extra-medium-dimension: 2.5rem;
$large-dimension: 3.5rem;
$extra-large-dimension: 4rem;
$super-large-dimension: 6rem;

$font-weight-normal: 400;
$font-weight-bold: 700;

$tiny-font-size: 0.625rem;
$extra-small-font-size: 0.75rem;
$small-font-size: 0.875rem;
$standard-font-size: 1rem;
$extra-standard-font-size: 1.125rem;
$large-font-size: 1.5rem;

$standard-line-height: 1.25rem;

$no-opacity: 0;
$light-opacity: 0.8;
$darker-opacity: 0.7;

$max-width-extra-large: 10.625rem;

$no-margin: 0;
$extra-small-margin: 0.25rem;
$small-margin: 0.5rem;
$large-margin: 1.5rem;

$no-padding: 0rem;
$small-padding: 0.5rem;
$standard-padding: 1rem;
$extra-standard-padding: 1.25rem;
$large-padding: 1.5rem;

$no-border-radius: 0;
$circle-border-radius: 50%;
$rounded-border-radius: 0.25rem;
$border-radius-tight: 0.4rem;

$no-outline: 0;

$no-border: 0;
$thin-border: 0.0625rem;

$grid-sidebar-width: 2.5rem;

$no-right-distance: 0;

$small-inset-block-end: -25%;

$small-inset-inline-start: 40%;
$standard-inset-inline-start: 50%;
