.tooltip {
  position: relative;
}

.tooltip::before {
  content: attr(data-tooltip);
  opacity: 0;
  position: absolute;
  transition: opacity 0.4s;
  color: hsl(212, 15%, 22%);
  text-align: center;
  padding: 0.3125rem;
  min-width: 4rem;
  background: hsl(210, 17%, 98%);
  pointer-events: none;
  z-index: 1;
  font-size: 0.75rem;
  border-radius: 0.25rem;
  white-space: nowrap;
}

.tooltip::after {
  transition: opacity 0.4s;
  opacity: 0;
  content: "";
  border-width: 0.3125rem;
  border-style: solid;
  border-color: hsl(210, 17%, 98%) transparent transparent transparent;
  position: absolute;
  z-index: 1;
  pointer-events: none;
}

.tooltip:hover::before,
.tooltip:hover::after,
.tooltip:focus::before,
.tooltip:focus::after {
  opacity: 1;
}

.tooltip_position_top::before {
  inset-block-end: 120%;
  inset-inline-start: 50%;
  margin-inline-start: -2.3rem;
}

.tooltip_position_bottom::before {
  inset-block-start: 120%;
  inset-inline-start: 50%;
  margin-inline-start: -2.3rem;
}

.tooltip_position_left::before {
  inset-block-end: -25%;
  inset-inline-end: 120%;
  min-height: 100%;
}

.tooltip_position_right::before {
  inset-block-end: -25%;
  inset-inline-start: 120%;
  min-height: 100%;
}

.tooltip_position_left::after {
  inset-block-start: 25%;
  inset-inline-start: -20%;
  border-color: transparent transparent transparent hsl(210, 17%, 98%);
}

.tooltip_position_right::after {
  inset-block-start: 25%;
  inset-inline-end: -20%;
  border-color: transparent hsl(210, 17%, 98%) transparent transparent;
}

.tooltip_position_top::after {
  inset-block-start: -20%;
  inset-inline-start: 40%;
  border-color: hsl(210, 17%, 98%) transparent transparent transparent;
}

.tooltip_position_bottom::after {
  inset-block-end: -20%;
  inset-inline-start: 40%;
  border-color: transparent transparent hsl(210, 17%, 98%) transparent;
}
