.chat-preview__image-container {
  position: relative;
}

.chat-preview__image {
  display: block;
  object-fit: cover;
  border-radius: 50%;
  height: 2.5rem;
  width: 100%;
}

.chat-preview__no-image {
  height: 2.5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  border-radius: 50%;
  background-color: hsla(244, 81%, 67%, 0.15);
  color: hsl(244, 81%, 67%);
}

.chat-preview__activity {
  background-color: hsl(164, 95%, 43%);
  height: 0.625rem;
  width: 0.625rem;
  border-radius: 50%;
  position: absolute;
  bottom: 0.15rem;
  right: 0.0625rem;
  border: 0.125rem solid hsl(208, 16%, 18%);
  box-sizing: border-box;
}

.chat-preview__info {
  line-height: 1.25rem;
  font-size: 0.875rem;
}

.chat-preview__name {
  max-width: 10.625rem;
  font-weight: 400;
  margin: 0 0 0.25rem;
  color: hsl(218, 33%, 95%);
  font-size: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.chat-preview__last-message {
  max-width: 10.625rem;
  margin: 0;
  color: hsl(225, 30%, 73%);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.chat-preview__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 0.625rem;
  width: 100%;
}

.chat-preview__time {
  color: hsl(225, 30%, 73%);
  margin: 0;
}

.chat-preview__miss-message {
  color: hsl(346, 84%, 61%);
  margin-top: 0.5rem;
}
