.auth {
  display: flex;
  flex-direction: column;
  max-width: 24.75rem;
  width: 100%;
  margin: auto;
}

.auth__logo {
  object-fit: content;
  object-fit: cover;
  height: 4rem;
  width: 4rem;
  margin: 0 auto;
}

.auth__title {
  color: hsl(218, 33%, 95%);
  font-size: 1.5rem;
  font-weight: 700;
  margin: 2.5rem 0;
  text-align: center;
}

.auth__form {
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
}

.auth__button {
  margin-top: 11.3125rem;
}

.auth__text {
  color: hsl(225, 30%, 73%);
  margin: 0;
  text-align: center;
}

.auth__link {
  color: hsl(244, 81%, 67%);
  transition: all 0.35s linear;
  text-decoration: none;
}

.auth__button:hover {
  opacity: 0.7;
}

.auth__link:hover {
  opacity: 0.8;
}
