.input-block {
  display: flex;
  flex-direction: column;
}

.input-block__input {
  font-size: 0.875rem;
  border: 0;
  padding: 0;
  outline: 0;
  line-height: 1.6875rem;
  background-color: hsl(210, 16%, 25%);
  border: 0.0625rem solid hsl(210, 16%, 25%);
  border-radius: 0.4rem;
  padding: 0.5rem 1rem;
  color: hsl(225, 30%, 73%);
  transition: all 0.35s linear;
}

.input-block__input:focus {
  border-color: hsl(225, 30%, 73%);
}

.input-block__input_type_error {
  border-color: hsl(0, 100%, 50%);
  color: hsl(0, 100%, 50%);
}

.input-block__error {
  color: hsl(0, 100%, 50%);
  font-size: 0.75rem;
  font-weight: 700;
  margin: 0.3125rem 0;
  line-height: normal;
  min-height: 1.875rem;
}

.input-block__input::placeholder {
  color: hsl(225, 30%, 73%);
}

.input-block__input_type_error::placeholder {
  color: hsl(0, 100%, 50%);
}
