.button {
  height: 2.5rem;
  background-color: hsl(244, 81%, 67%);
  color: hsl(0, 0%, 100%);
  border-radius: 0.1875rem;
  font-size: 1.125rem;
  border: 0;
  outline: 0;
  padding: 0;
  line-height: 1.2;
  transition: all 0.35s linear;
  cursor: pointer;
}

.button:focus {
  border: 0.0625rem solid hsl(225, 30%, 73%);
}

.button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
