.notification {
  position: fixed;
  top: 1rem;
  right: 1rem;

  &__box {
    margin-bottom: 0.625rem;
    padding: 0.625rem;
    border-radius: $rounded-border-radius;
    color: $primary-color;
    font-weight: $font-weight-bold;
    box-sizing: border-box;

    &_type {
      &_error {
        background-color: $accent-red-color;
      }

      &_success {
        background-color: $green-color;
      }
    }
  }
}

.slide-fade-enter-active,
.slide-fade-leave-active {
  @include transition(0.35s, linear);
}
.slide-fade-enter,
.slide-fade-leave-to {
  transform: translateX(100%);
  opacity: $no-opacity;
}
