.tabs {
  position: relative;
  max-width: 23.75rem;
  width: 100%;
  background-color: hsl(212, 15%, 22%);
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.tabs__title {
  font-size: 1.3125rem;
  font-weight: 700;
  margin: 0 1.5rem;
  color: hsl(218, 33%, 95%);
  padding-top: 1.5rem;
}
