.profile {
  padding: 1.5rem 1.5rem 0;
}

.profile__user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 0.0625rem solid hsl(210, 16%, 25%);
  padding-bottom: 1.5rem;
  margin: 0 0 1.5rem;
}

.profile__image-container {
  position: relative;
  margin-bottom: 1.5rem;
  height: 6rem;
  width: 6rem;
}

.profile__edit-button {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 0.5rem;
  height: 2rem;
  width: 2rem;
  font-size: 0.875rem;
  border-radius: 50%;
  background-color: hsl(210, 16%, 25%);
  border: 0.0625rem solid transparent;
}

.profile__edit-button:hover {
  opacity: 0.85;
}

.profile__avatar {
  display: block;
  object-fit: cover;
  border-radius: 50%;
  height: 6rem;
  width: 6rem;
}

.profile__name {
  max-width: 20.5rem;
  font-size: 1.25rem;
  font-weight: 400;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0 0 0.25rem;
  color: hsl(218, 33%, 95%);
}

.profile__activity {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.profile__circle {
  height: 0.625rem;
  width: 0.625rem;
  color: hsl(164, 90%, 44%);
}

.profile__activity-text {
  color: hsl(226, 30%, 75%);
}

.profile__status {
  color: hsl(226, 30%, 75%);
  margin: 0 auto 1.5rem;
  max-width: 18.5rem;
  text-align: center;
  overflow-wrap: break-word;
}

.profile__collapse-title {
  font-weight: 700;
  margin: 0;
}

.profile__collapse-subtitle {
  margin: 0 0 0.25rem;
  color: hsl(226, 30%, 75%);
  font-size: 0.9375rem;
  font-weight: 400;
}

.profile__collapse-text {
  margin: 0;
  color: hsl(218, 33%, 95%);
  font-size: 0.875rem;
}

.profile__collapse-body {
  margin-bottom: 1.5rem;
}

.profile__collapse-body:last-child {
  margin: 0;
}
